log.txt
src/__pycache__/**
src/importer/__pycache__/**
src/importer/notetypes/__pycache__/**
src/importer/notetype/__pycache__/**
src/importer/helper/__pycache__/**
build/**
dist/**
test.py
env/**
test.apkg